.imgContainer {
    text-align: center;
    margin-top: 150px;
    margin-left: center;
}
  
.imgContainer img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
  
.imgDescription {
    font-size: 14px;
    color: #666;
}

h3 {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
  }